/* Estilos básicos y tipografía */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    background-color: #f8f9fa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

/* Contenedor general */
.container {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

/* Encabezado */
.header {
    background-color: #204051;
    color: #fff;
    padding: 10px 0;
}

.header .logo {
    max-width: 70px;
    height: auto; 
    cursor: pointer;
}

/* Definir la animación */
@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}

/* Aplicar la animación al logo en hover */
.header .logo:hover {
    animation: shake 0.5s ease-in-out 1; /* Aplica la animación de shake en hover */
}


.header .col-md-auto {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea elementos al final del contenedor en la derecha */
}

.search-form {
    display: flex;
    align-items: center;
    gap: 5px; /* Added gap between elements */
    margin-right: 20px; /* Espacio entre el formulario y los íconos sociales */
}

.search-form .form-control {
    flex-grow: 1;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Consistent spacing between social icons */
    margin-right: 20px;
}

.social-media a {
    margin: 0 5px; /* Ajusta el espaciado entre iconos si es necesario */
}

/* Barra de navegación */
.navbar {
    margin-bottom: 20px;
}

/* Contenido principal */
.main {
    padding: 50px 0;
}

.main h1, .main h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main p, .main ul li {
    font-size: 18px;
    margin-bottom: 20px;
}

.main ul {
    list-style-type: none;
    padding-left: 0;
}

/* Pie de página */
.footer {
    background-color: #204051;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    text-decoration: none;
    color: #ccc;
}

/* Botones */
.btn-primary, .btn-outline-secondary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover, .btn-outline-secondary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-outline-secondary {
    color: #6c757d; /* Específico para outline */
    background-color: transparent;
    border-color: #ccc;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #444;
}

.btn-block {
    display: block;
    width: 100%;
}

/* Formularios */
.card, .register-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.card-title, .register-form h1 {
    font-size: 28px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.slider1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider1 ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.slider1 ul li {
    flex: 0 0 100%;
}

.slider1 ul li img {
    width: 100%;
    height: auto;
}



@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        align-items: center;
    }

    .header .col-md-auto {
        flex-direction: column;
        align-items: center;
    }

    .header .search-form, .header .social-media, .header div {
        width: 100%; /* Asegura que cada bloque use todo el ancho disponible */
        justify-content: center;
        margin-top: 10px; /* Añade un poco de espacio entre los elementos */
    }
}
