/* Barra de navegación */
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 7%;
    background-color: #fcd63d;
}

.logo {
    width: 70px;
    cursor: pointer;
}

ul{
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    transition: .2s ease-in;
}

.navbar ul li:hover{
    font-size: 17px;
    font-weight: bold;
    color: #5b5b5b; 
    padding: 5px 10px; 
    cursor: pointer; 
}

.navbar ul li:not(:hover) {
    font-size: 15px;
    font-weight: 600;
    color: #000000; /* Restaura el color del texto */
    padding: 0; /* Restaura el espaciado interno */
}


.toggle-mode-icon{
    width: 40px;
    cursor: pointer;
    margin: 0 25px;
}

.login-icon{
    width: 40px;
    cursor: pointer;
    margin: 0 20px;
}

.search-box{
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    max-width: 200px;
}

.search-box input::placeholder{
    color: #fff;
}

.search-box img{
    width: 20px;
    cursor: pointer;
}

/* Animación del logo */
@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}

/* Aplicar la animación al logo al pasar por encima */
.logo:hover {
    animation: shake 0.5s ease-in-out 1; 
}










